/* ========================
      !Timeline widget
==========================*/

.main-timeline {
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline:before {
    content: '';
    background-color: #555;
    height: 100%;
    width: 5px;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
}

.main-timeline .timeline {
    width: 50%;
    padding: 0 100px 0 0;
    margin: 0 10px 20px 0;
    float: left;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline:before {
    content: '';
    background-color: #121365;
    height: 5px;
    width: 80px;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: -1;
}

.main-timeline .timeline-content {
    color: #555;
    background-color: #fff;
    text-align: center;
    padding: 0 0 10px;
    border-radius: 20px;
    display: block;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(30, 30, 30, 0.35);
    -moz-box-shadow: 1px 1px 10px 0px rgba(30, 30, 30, 0.35);
    box-shadow: 1px 1px 10px 0px rgba(30, 30, 30, 0.35);
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-year {
    color: #121365;
    background: linear-gradient(to right, #121365, #4546D0);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 1;
}

.main-timeline .timeline-year:before {
    content: '';
    background-color: #fff;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.main-timeline .timeline-icon {
    color: #121365;
    font-size: 35px;
}

.main-timeline .title {
    color: #fff;
    background: linear-gradient(to right, #121365, #4546D0);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 0 10px;
    border-radius: 20px 20px 0 0;
}

.main-timeline .description {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 15px;
    color: #000;
}

.main-timeline .timeline:nth-child(even) {
    padding: 0 0 0 100px;
    margin: 0 0 20px 10px;
    float: right;
}

.main-timeline .timeline:nth-child(even):before {
    right: auto;
    left: 50px;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: -50px;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    right: auto;
    left: 20px;
}

@media screen and (max-width:767px) {
    .main-timeline .timeline, .main-timeline .timeline:nth-child(even) {
        width: 100%;
        padding: 95px 0 0;
        margin: 0 0 20px;
        float: none;
    }
    .main-timeline .timeline:before {
        display: none;
    }
    .main-timeline .timeline-year, .main-timeline .timeline:nth-child(even) .timeline-year {
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 30px;
    }
}

@media screen and (max-width:567px) {
    .main-timeline .title {
        font-size: 18px;
    }
}

/* ========================
      !animated heading
==========================*/

div[class^="style"] a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: green;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 16px;
    border: 3px solid green;
    padding: 10px 10px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.style-4>a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: green;
    background-color: #262626;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
}

.style-4>a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

.style-4>a:hover:before {
    transform: rotateX(0);
}

.style-4>a:hover:after {
    transform: rotateY(0);
}

.style-4>a:hover {
    color: green;
}

.style-3>a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: green;
    background-color: #fff200;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: all .5s;
}

.style-3>a:hover:before {
    transform: rotate(0deg);
}

.style-1>a:before {
    content: attr(data-before);
    color: green;
    position: absolute;
    background-color: #F44336;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: all .5s;
}

.style-1>a:hover:before {
    transform: translateY(0);
}

.style-2>a:before {
    content: attr(data-after);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all .5s;
}

.style-2>a:hover:before {
    transform: scale(1);
    opacity: 1;
}

/* ========================
      !SWIPPER SLIDER
==========================*/

[class^="swiper-button-"], .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet::before {
    transition: all 0.3s ease;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 28vw;
    transition: opacity 0.6s ease;
}

.swiper-container.swiper-container-coverflow {
    padding-top: 2%;
}

.swiper-container.loading {
    opacity: 0;
    visibility: hidden;
}

.swiper-container:hover .swiper-button-prev, .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide .entity-img {
    display: none;
}

.swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
}

.swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
}

.swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
}

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev {
    transform: translateX(50px);
}

.swiper-button-next {
    transform: translateX(-50px);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.4;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
}

@media (max-width: 1180px) {
    .swiper-slide .content .title {
        font-size: 25px;
    }
    .swiper-slide .content .caption {
        font-size: 12px;
    }
}

@media (max-width: 1023px) {
    .swiper-container {
        height: 40vw;
    }
    .swiper-container.swiper-container-coverflow {
        padding-top: 0;
    }
}

/* ========================
    !ANIMATION TEXT
==========================*/

.fluid_meter_wrap {
    text-align: center;
}

.fluid-title {
    margin-top: -10px;
}

/* ========================
         !ANIMATION TEXT
==========================*/

/* .banner {
    display: block;
    min-height: 200px;
    width: 100%;
    position: relative;
} */

.typed_wrap {
    display: block;
    /* border: 4px solid #ecf0f1; */
    width: 100%;
    height: auto;
    text-align: center;
    /* padding: 30px; */
    /*centers it in the .banner*/
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.typed_wrap h1 {
    display: inline;
}

/* ========================
         !PROGRESPBAR
==========================*/

.progress-title {
    font-size: 18px;
    font-weight: 700;
    color: #6941DE;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 30px;
}

.progress {
    height: 10px;
    background: #000;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 40px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar {
    background: #fff;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

.progress .progress-bar:before {
    content: "";
    width: 100%;
    border-top: 10px double #6941DE;
    /* border-right: 25px solid #000; */
    position: absolute;
    top: 0;
    left: 0;
}

.progress .progress-value {
    font-size: 18px;
    font-weight: 700;
    color: #6941DE;
    position: absolute;
    top: -32px;
    right: -5px;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

/* ========================
        !COUNTER
==========================*/

.counter {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 250px;
    padding: 35px;
    margin: 0 auto;
    position: relative;
    background: rgb(129, 31, 107);
    background: -moz-linear-gradient(90deg, rgba(129, 31, 107, 1) 36%, rgba(93, 12, 128, 1) 77%);
    background: -webkit-linear-gradient(90deg, rgba(129, 31, 107, 1) 36%, rgba(93, 12, 128, 1) 77%);
    background: linear-gradient(90deg, rgba(129, 31, 107, 1) 36%, rgba(93, 12, 128, 1) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#811f6b", endColorstr="#5d0c80", GradientType=1);
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(38, 37, 38, 0.53);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(38, 37, 38, 0.53);
    box-shadow: inset 0px 0px 8px 0px rgba(38, 37, 38, 0.53);
    border-radius: 10%;
}

.counter:before {
    content: '';
    background: rgb(34, 81, 195);
    background: linear-gradient(349deg, rgba(34, 81, 195, 1) 0%, rgba(187, 45, 253, 1) 100%);
    width: 100%;
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.counter h3 {
    color: #fff;
    background: rgb(34, 81, 195);
    background: linear-gradient(349deg, rgba(34, 81, 195, 1) 0%, rgba(187, 45, 253, 1) 100%);
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 7px 17px;
    margin: 0 auto;
    border: 5px solid #fff;
    box-shadow: 0 0 10px #999;
    border-radius: 30px;
    position: relative;
    z-index: 1;
}

.counter .counter-content {
    color: #f4f4f4;
    /* background-color: #fff; */
    background: linear-gradient(349deg, rgb(195, 93, 34) 0%, rgba(187, 45, 253, 1) 100%);
    height: 120px;
    padding: 15px 15px 20px;
    margin: -10px 0 0;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.counter .counter-value {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
}

/* .counter:before, .counter h3 {
    background: linear-gradient(to right, #dd3131, #770000);
} */

@media screen and (max-width:990px) {
    .counter {
        margin-bottom: 40px;
    }
}

/* ========================
 !     OUR TEAM
==========================*/

.our-team {
    border: 1px solid #dedede;
    text-align: center;
    color: #26388b;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.our-team:hover {
    background: #26388b;
    color: #fff;
}

.our-team .pic {
    position: relative;
}

.our-team .pic img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}

.our-team:hover .pic img {
    transform: translate(20px, -20px);
    /* transform: translateX(50px); */
}

.our-team .social {
    width: 20%;
    height: 100%;
    background: #26388b;
    padding: 20px 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: -50%;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    left: 0;
}

.our-team .social li {
    display: block;
}

.our-team .social li a {
    display: block;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    transition: all 0.5s ease 0s;
}

.our-team .social li a:hover {
    color: #ff9b19;
}

.our-team .team-content {
    padding: 25px 0;
}

.our-team .name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.our-team .post {
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}